* {
  margin: 0;
  padding: 0;
}
.admin_container {
  background-image: url("../images/apple.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 38.5rem;
}
.adminForm {
  display: inline-block;
  box-shadow: 3px 3px 3px 3px black;
  background-color: rgba(255, 255, 255, 0.543);
  margin-left: 23rem;
  margin-top: 4rem;
  padding: 5rem;
  border-radius: 3rem;
}
h1 {
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
h4 {
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
.adminForm input {
  display: block;
  margin-left: 2.75rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.427);
  box-shadow: 2px 2px black;
  border: transparent;
}
.adminname {
  display: flex;
  margin-top: 2rem;
}
.adminname input {
  margin-left: 1rem;
}
.adminemail {
  display: flex;
}
.adminemail input {
  margin-left: 1rem;
}
.adminpass {
  display: flex;
}
.adminpass input {
  margin-left: 1rem;
  width: 9.2rem;
}

label {
  font-size: 1.2rem;
}

.adminbtn {
  display: inline-block;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}
