* {
  margin: 0;
  padding: 0;
}
.home_container {
  background-image: url("../images/i3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 38.5rem;
}
.main_table {
  display: inline-block;
  position: absolute;
  margin-left: 10rem;
  margin-top: 8rem;
  width: 30rem;
}
table {
  font-size: 1.5rem;
}

.hbtn {
  font-size: 1.5rem;
  position: absolute;
  margin-left: 10rem;
  margin-top: 3.5rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.758);
  color: black;
}
.hbtn:hover {
  color: red;
}
.actspan {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;
  color: white;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
.act:hover {
  color: black;
}
#viewbtn {
  background-color: red;
  cursor: pointer;
}
.lgin_admin {
  float: right;
}
