* {
  margin: 0;
  padding: 0;
}
.view_container {
  background-image: url("../images/apple.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 38.5rem;
}
.card {
  display: inline-block;
  width: 50%;
  height: 50%;
  margin-left: 18rem;
  margin-top: 7rem;
  box-shadow: 3px 3px 3px black;
}
h2 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
}
h3 {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
